*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
:root{
	--bgMain:#1B222E;
	--bgSecond:rgba(167,130,233,0.04);
	--bgThird:rgba(167,130,233,0.03);
	--myGreen:#29b474;
	--myGreenSecond:#0e7a0d;
	--myRad:#fd6060;
	--myBlue:#00aef0;
	--myPurple:#a782e9;
	--myPurpleSecond:#665cbe;
	--titlePrimary:#fff;
	--textParagraph:#dbdada;
	--borderColor:rgba(167,130,233,0.06);
	--borderColorSecond:rgba(167,130,233,0.5);
	--borderColorThird:rgba(167,130,233,0.06);
}
body{
	background-color: var(--bgMain);
	height:100%;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 1.4;
	color: var(--titlePrimary);
}
p, label{
	color: var(--textParagraph);
	font-size: 0.85rem;
	font-weight:400;
}
a{
	text-decoration: none;
	font-size: 16px;
    font-weight: 400;
	color: var(--titlePrimary);
	transition: 0.5s ease;
	cursor: pointer;
}
a:hover{
	color: var(--myPurple);
}
ul{
	list-style-type: none;
}
input::placeholder{
	color:var(--textParagraph);
}
input:focus,button:focus,textarea:focus,select:focus{
	outline: 0;
}
input, select, textarea, .inputGroup, a.AInput, a.svgInput{
	height: 44px;
    border-radius: 6px;
    border: 1px solid var(--borderColorThird);
    background-color: var(--bgThird);
    font-size: 14px;
    color: var(--titlePrimary);
    padding: 0.4rem 1rem;
}
select option{
	color: #dbdada;
	background-color: #1B222E;
}
a.svgInput{
	padding: 0.6rem;
	height: auto;
}
.btnInput{
	height: 44px;
    border-radius: 6px;
    border: 1px solid var(--borderColorSecond);
    background-color: var(--bgSecond);
    font-size: 14px;
    color: var(--titlePrimary);
    padding: 0.4rem 1rem;
}
.btnInput i{
	font-size: 21px;
	transition: 0.5s ease;
}
.btnInput:hover i{
	color: var(--myRad);
}
input[type="submit"], button, a.button{
    height: 44px;
    border-radius: 6px;
    background-color: var(--myGreen);
    color: var(--titlePrimary);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.8px;
    line-height: 16px;
	padding: 0 1.5rem;
	border: 0px;
	cursor: pointer;
}
input[type="number"]{
    padding: 0 1rem;
    width: 5rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
a.button{
	padding: 0.8rem 1.2em;
}
a.category{
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 24px;
	min-width: 74px;
	width: auto;
	color: var(--textParagraph);
	font-size: 0.76rem;
	border: 1px solid rgba(167,130,233,0.4);
	background-color: rgba(167,130,233,0.15);
	border-radius: 6px;
	padding: 0 13px;
	letter-spacing: 0.4px;
}
.inputGroup{
	position: relative;
	width: 30rem;
}
.inputGroup input, .inputGroup select, .inputGroup button{
	background:transparent;
	border: none;
	border-radius: 0;
	height: 30px;
}
.inputGroup input{
	border-right:1px solid var(--borderColor) ;
}
.inputGroup button{
	border-left:1px solid var(--borderColor) ;
	position: absolute;
	right: 0;
}
i{
	vertical-align: middle;
	font-size: 17px;
	color: var(--myPurple);
	font-weight: 100;
}
img{
	border-radius: 6px;
	width:100%;
	height:100%;
	object-fit: cover;
}
.itemsFlex{
	display: flex;
}
.textCenter{
	text-align:center
}
.center{
	margin:0 auto;
}
.alignCenter{
	align-items: center;
}
.alignEnd{
	align-items: flex-end;
}
.justCenter{
	justify-content: center;
}
.justEnd{
	justify-content: flex-end;
}
.grid-one{
	display: grid;
	grid-template-columns: 100%;
}
.grid-two{
	display: grid;
	grid-template-columns: 49% 49%;
	grid-gap:1%;
}
.grid-three{
	display: grid;
	grid-template-columns: 32% 32% 32%;
	grid-gap:1%;
}
.grid-five{
	display: grid;
	grid-template-columns: 19% 19% 19% 19% 19%;
	grid-gap:1%;
}
.grid-7x3{
	display: grid;
	grid-template-columns:70% 30%;
}
.grid-3x7{
	display: grid;
	grid-template-columns:30% 70%;
}
.grid-6x4{
	display: grid;
	grid-template-columns:60% 40%;
}
.grid-4x6{
	display: grid;
	grid-template-columns:40% 60%;
}
.w100{
	width:100%;
}
.w95{
	width:95%;
}
.w90{
	width:90%;
}
.w80{
	width: 80%;
}
.w80{
	width: 80%;
}
.w55{
	width: 55%;
}
.w20{
	width: 20%;
}
.height100{
	height: 100%;
}
.marginSideDefault{
	margin: 0 0.8rem;
}
.marginDownSmallIn{
	margin-bottom:1vh;
}
.marginDownSmall{
	margin-bottom:2vh;
}
.marginDownMiddle{
	margin-bottom:3vh;
}
.marginDownDefault{
	margin-bottom:5vh;
}
.marginDownBigger{
	margin-bottom:16vh;
}
.marginTopDefault{
	margin-top:5vh;
}
.marginTopBigger{
	margin-top:20vh;
}
.paddingInternalDefault{
	padding:1rem;
}
.paddingInternalSmall{
	padding:0.5rem;
}
.limitLineClampThree{
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.limitLineClampTwo{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.limitLineClampOne{
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/**/
header .row.gridCustom {
	display: grid;
	grid-template-columns: 20% 50% 30%;
}
header .wrap .row{
	height: 12vh;
	background-color: var(--bgMain);
	border-bottom: 1px solid var(--borderColor);
	padding:0 5rem;
}
header .logoHeader{
	border-right: 1px solid var(--borderColor);
}
.menuMobile{
	display: none;
	color:white;
	font-size: 20px;
	margin-right: 1rem;
}
.menuMobile i{
	color:white;
	font-size: 20px;
}
header .logoHeader h2 a{
	font-weight: 500;
	font-size:1.35rem;
}
header .logoHeader h2 a span{
	color: var(--myPurple);
}
header .row ul.itemsLi{
	padding-left: 2rem;
}
header .row ul.itemsLi li{
	margin: 0 1rem;
}
header .row ul.itemsLi li a{
	font-weight: 300;
	text-transform: uppercase;
	font-size:0.8rem;
}
header ul li a:hover{
	color: var(--myPurple);
}
header .row ul.itemsLiIcons li a{
	display: flex;
	align-items: center;
}
header .row ul.itemsLiIcons li a i{
	margin-right: 0.5rem;
	font-size: 1.3rem;
}

footer{
	margin-top: 5vh;
	border-top: 1px solid var(--borderColor);
	padding: 2rem 0;
}
footer .wrap .copy p{
	font-size: 0.9rem;
	color:var(--titlePrimary);
}
footer .wrap .copy p span{
	color:var(--myPurple);
}
footer .wrap .networks a{
	margin: 0 0.5rem;
}
footer .wrap .networks a i{
	font-size: 1.2rem;
	color: var(--myPurpleSecond);
}

/*HOME*/
section.apesentationDefault{
	position: relative;
	background-size: cover;
	background-position: center;
}
section.apesentationDefault .row{
	z-index: 999;
}
section.myApresentationHome{
	background-image: url('../images/bg.jpg');
	position: relative;
	background-size: cover;
	background-position: center;
	padding-top: 10vh;
	max-height: 75vh;
}
section.myApresentationHome .wrap:before  {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 75vh;
    pointer-events: none;
    background: -webkit-linear-gradient(top, rgba(27,34,46,0.7) 0%, #1b222e 100%);
    background: -ms-linear-gradient(top, rgba(27,34,46,0.7) 0%, #1b222e 100%);
    background: linear-gradient(to bottom, rgba(27,34,46,0.7) 0%, #1b222e 100%);
}
section.myApresentationHome .row{
	z-index: 100;
}
/*CARDS*/
.card{
	border-radius: 6px;
    overflow: hidden;
    background-color: var(--bgMain);
	position: relative;
	border:1px solid var(--borderColor);
	padding: 1rem;
}
.titleCard{
	position: relative;
}
.titleCard h2{
	text-transform: uppercase;
    font-weight: 300;
	font-size: 2rem;
	color: var(--titlePrimary);
	padding-left: 1.5rem;
	display: flex;
	align-items: center;
}
.titleCard h2 span, .titleCardTwo h2 span{
    font-weight: 600;
}
.titleCardTwo h2{
	text-transform: uppercase;
    font-weight: 300;
	font-size: 1.5rem;
	color: var(--titlePrimary);
}
.titleCard h2:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    width: 3px;
    background-color: #a782e9;
    border-radius: 4px;
	height: 70%;
}
.card figure.gameImg img{
	height: auto;
    max-height: 58vh;
}
.card div.gameInfo .titleGame h2 a{
	font-size: 1.4rem;
}
.card div.gameInfo .details p{
	margin: 0.4rem 0;
}
.card div.gameInfo{
	display: flex;
    flex-direction: column;
}
.card div.gameInfo .details p span{
	color:var(--titlePrimary)
}
.card .plataformIcons li{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.card .plataformIcons li i{
	color: #fff;
	font-size: 15px;
}
li.ps{
	background-color: var(--myPurpleSecond);
}
li.xbox{
	background-color: var(--myGreenSecond);
}
li.windows{
	background-color: var(--myBlue);
}
.card p.priceDefault span {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 600;
	margin-bottom: 0.5rem;
}
.card .priceCard p.pricePrevious, .card .priceCard p.pricePromotion{
	display: inline-block;
}
.card p.pricePrevious span {
    font-size: 0.9rem;
    color: var(--textParagraph);
    font-weight: 300;
	text-decoration: line-through;
    margin-right: 0.6rem;
}
.card p.pricePromotion span{
    font-size: 0.9rem;
    color: var(--myRad);
    font-weight: 600;
}
.card p.pricePrevious.small span {
    font-size: 0.7rem;
}
.card p.pricePromotion.small span{
    font-size: 0.7rem;
}
section.gamesApresentation .gamesListCustom{
	flex-wrap: nowrap;
	max-width: 100%;
	overflow: hidden;
}
section.gamesApresentation .cardTwo{
	padding: 0;
	min-width: 18%;
	margin-right: 2%;
}
section.gamesApresentation .cardTwo figure.gameImgCustom{
	height: 50vh;
	position: relative;
}
section.gamesApresentation .cardTwo figure.gameImgCustom a.tag{
	position: absolute;
    bottom: 1rem;
	border-radius: 6px;
    height: 24px;
    padding: 0 13px;
    font-size: 12px;
    font-weight: 600;
	background-color: var(--myPurple);
	display: flex;
	align-items: center;
	justify-content: center;
}
section.gamesApresentation .cardTwo p.priceDefault span,section.gamesApresentation .cardThree div.gameInfo .titleGame h2 a {
    font-size: 1rem;
}
section.gamesApresentation .cardTwo .priceCard p.priceDefault span,section.gamesApresentation .cardThree .priceCard  p.priceDefault span, section.blogCardThree .card div.gameInfo .titleGame h2 a {
    font-size: 1.2rem;
}
section.gamesList .card figure.gameImg img {
    height: auto;
    max-height: 30vh;
}
section.gamesList .cardThree div.gameInfo{
	height:100%;
}
section.blogCards .card.cardVideo{
	padding: 0;
	border: none;
}
section.blogCards .card.cardVideo figure{
	height: 60vh;
	background-size: cover;
	flex-direction:column
}
section.blogCards .card.cardVideo figure *{
	z-index: 999;
}
section.blogCards .card.cardVideo figure h2 a{
	font-size: 1.7rem;
}
section.blogCards .card.cardVideo .colIcon p i,section.blogCards .card.cardTwo .colIcon p i {
	margin-right: 0.36rem;
	color: var(--myPurpleSecond);
}
section.blogCards .card.cardVideo .colIcon p span, section.blogCards .card.cardTwo .colIcon p span{
	font-size: 0.8rem;
}
section.blogCards .card.cardVideo figure:before {
    content: '';
    position: absolute;
    display: block;
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%);
}

/*CARRINHO*/
section.cartApresentation{
	background-image: url('../images/bg.jpg');
}
section.cartApresentation .row{
	height: 35vh;
}
section.apesentationDefault .wrap:before  {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 35vh;
    pointer-events: none;
    background:rgba(27,34,46,0.7);
}
section.apesentationDefault .breadcrumbs{
	z-index: 999;
}
section.apesentationDefault .breadcrumbs a i{
	margin-right: 0.35rem;
}
table {
    border-collapse: collapse;
	width: 100%;
}
table thead tr{
	margin-bottom: 2rem;
	text-align: left;
}
table thead tr th.product{
	width: 9rem;
}
table thead tr th.name{
	width: 20rem;
}
table thead tr th{
	padding-bottom: 1rem;
}
table thead tr th i{
	font-size: 14px;
	margin-left: 0.35rem;
}
table thead tr th a{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--textParagraph);
	letter-spacing: 0.4px;
	font-size: 0.9rem;
}
table tbody tr{
	height: 25.7vh;
}
table tbody tr td img{
	height: 23vh;
	width: 6.5rem;
}
.card .cardFooter .methodsPayments i{
	font-size: 30px;
	color: var(--textParagraph);
	margin: 0 0.5rem;
}
.card .formInternalPayment form input, .card .formInternalPayment form select{
	width: 100%;
	margin-bottom: 0.65rem;
}
.card .formInternalPayment form p{
	margin-bottom: 1.75rem;
}
section.cartContent .card{
	min-height: 23rem;
}



@media screen and (max-width: 780px){
	.gridOneMobile{
		grid-template-columns: 100%;
	}
	.gridTwoMobile{
		grid-template-columns: 49% 49% !Important;
	}
	.w100Mobile{
		width: 100%;
	}
	.w90Mobile{
		width: 90%;
	}
	.w80Mobile{
		width: 80%;
	}
	.w70Mobile{
		width: 70%;
	}
	.w60Mobile{
		width: 60%;
	}
	.minW60Mobile{
		min-width: 60%;
	}
	.minW50Mobile{
		min-width: 49% !important;
	}
	.itemsFlexMobile{
		display: flex;
	}
	.justEndMobile{
		justify-content: flex-end;
	}
	.flexWrap{
		flex-wrap: wrap;
	}
	.marginDownMobileDefault{
		margin-bottom: 5vh;
	}
	.cardsList{
		max-width: 100%;
		overflow-x: auto;
	}
	.titleCard .btns {
		margin-top: 2rem;
	}
	.dpGrid{
		display: grid;
	}
	.inputGroup select{
		display: none;
	}
	.inputGroup input {
		border-right: 0px;
	}
	section.myApresentationHome {
		margin-bottom: 105vh;
	}
	header .wrap .row {
		padding: 0 1rem;
	}
	header .row div.itemsMenu{
		position: fixed;
		top: 24vh;
		left: 0;
		width: 100%;
		height: 76vh;
		background: var(--bgMain);
		z-index: 1000;
	}
	header .row div.itemsMenu ul{
		padding: 2rem 1rem;
	}
	header .row div.itemsMenu ul li{
		padding: 0.5rem 0;
	}
	.showMenu{
		display: none;
	}
	header .logoHeader{
		border:0px
	}
	header .row ul.itemsLiIcons li a span{
		display: none;
	}
	.hideMobile{
		display: none;
	}
	section.shopFilter .card .col label{
		display: none;
	}
	section.shopList .card{
		min-height: unset;
		height: auto;
		padding-bottom: 2rem;
	}
	.menuMobile{
		display: block;
	}
}