*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body{
    height: 100%;
    background-color: var(--bg);
    scroll-behavior: smooth;
}
:root{
    --bg:#151a27;
    --bgTwo:#21283b; 
    --bgThree:#0d1323;
    --bgCard:#1d2333;
    --borderColor:#2f3749;
    --borderColorSecond:#2e3648;
    --borderColorThree: rgba(255,255,255,.04);
    --textColor:#b1bad2;
    --textColorSecond:#9aa4ba;
    --titleColor:#fff;
    --bgIcon:#293249;
    --borderIcon:#495269;
    --myBlue:#088dcd;
    --myGreen:#45BD62;
    --myYellow:#F3B628;
    --myRad:#E82849;
    --myPurple:#8c6ad2;

    --fontWeightBigger:600;
    --fontWeightNormal:500;
    --fontWeightLittle:400;
    --fontSizeNormal:0.9rem;
    --fontSizeSmall:0.85rem;
    --borderRadiusNormal:6px;
    --borderRadiusBigger:35px;
}
h1,h2,h3,h4,h5, a{
    color: var(--titleColor);
    font-size: var(--fontSizeNormal);
    font-weight: var(--fontWeightNormal);
    line-height: 1.4rem;
}
p, label{
    color: var(--textColor);
    font-size: var(--fontSizeSmall);
    font-weight: var(--fontWeightLittle);
    line-height: 1.4rem;
}
input:focus, button:focus{
    outline: 0;
}
input::placeholder, textarea::placeholder{
    color: var(--textColor);
}
input, input[type="file"]::-webkit-file-upload-button{
    background-color: var(--bgTwo);
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadiusBigger);
    padding: 0.45rem 1.1rem;
    color: var(--textColorSecond);
    height: 38px;
    transition: all 0.2s linear 0s;
}
input.inputFile{
    background-color: unset;
    border: unset;
    border-radius: unset;
    padding: unset;
    color: var(--textColorSecond);
    height: unset;
    width: 100%;
}
a.button, input[type=submit]{
    border: 1px solid var(--myBlue);
    color: var(--myBlue);
    border-radius: var(--borderRadiusBigger);
    display: inline-block;
    padding: 0.35rem 0.5rem;
    min-width: 5rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: var(--fontWeightLittle);
    cursor: pointer;
}
a.tab{
    background-color: var(--bgThree);
    border-radius: var(--borderRadiusNormal);
    padding: 0.45rem 1.1rem;
    color: var(--myBlue);
    font-weight: var(--fontWeightLittle);
}
a.button.activeBtn, a.button:hover, input[type=submit]:hover{
    color: var(--titleColor) !important;
    background-color: var(--myBlue);
}
a.tab.activeTab, a.tab:hover, nav.navigation li.activeNav, nav.navigation li:hover{
    background-color: var(--myBlue);
    color: var(--titleColor);
}
a.evaluation{
    background-color: var(--bgIcon);
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--titleColor);
    min-width: 3rem;
    font-weight: var(--fontWeightLittle);
    font-size: 0.78rem;
    margin-right: 2%;
    padding: 0.2rem 1rem;
}
a.evaluation i{
    color: var(--textColorSecond);
    margin-right: 4%;
}
button{
    background-color: unset;
    border: unset;
}
ul.itemsEmphasis li a{
    background-color: var(--bgIcon);
    border:1px solid var(--borderIcon);
    width: 37px;
    height: 37px;
    border-radius: var(--borderRadiusBigger);
    margin: 0 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
ul.itemsEmphasis li.userInfo a{
    width: auto;
    min-width: 6.4rem;
    padding: 0 0.3rem;
}
ul.itemsEmphasis li.userInfo a span{
    font-size: 0.78rem;
    margin-left: 0.3rem;
}
i{
    font-size: 0.9rem;
    color: var(--myBlue);
    font-weight: 100;
}
i.ri-image-add-fill{
    color: var(--myGreen);
}
i.emotion-happy-line{
    color: var(--myYellow);
}
i.ri-live-line{
    color: var(--myRad);
}
a.btnArrow{
    background-color: var(--bgTwo);   
    border-radius: 50%;
    position: absolute;
    height: 35px;
    width: 35px;
    box-shadow: 0 3px 7px rgb(0 0 0 / 20%);
    transition: all 0.2s linear 0s;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    top:50%;
}
a.btnArrow i{
    color: #088dcd;
    font-size: 1rem;
}
a.btnArrow.arrowLeft{
    left:-2%
}
a.btnArrow.arrowRight{
    right:-2%;
}
a.btnArrow:hover{
    border-color: var(--myBlue);
}
a.plusIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: var(--myBlue);
    border: 1px solid #fff;
    border-radius: 50%;
    z-index: 2;
}
a.plusIcon i{
    color: var(--titleColor);
    font-size: 1rem;
}
img{
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 5px;
}
a{
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}
ul{
    list-style-type: none;
}
.itemsInlineFlex{
    display: inline-flex;
}
.itemsFlex{
    display: flex;
}
.alignCenter{
    align-items: center;
}
.justCenter{
    justify-content: center;
}
.alignEnd{
    align-items: flex-end;
}
.justEnd{
    justify-content: flex-end;
}
.center{
    margin: 0 auto;
}
.textCenter{
    text-align: center;
}
.gridOne{
    display: grid;
    grid-template-columns: 100%;
}
.gridTwo{
    display: grid;
    grid-template-columns: 50% 50%;
}
.gridThree{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.gridFour{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.grid-25x50x25 {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.grid-75x25 {
    display: grid;
    grid-template-columns: 75% 25%;
}
.grid-25x75{
    display: grid;
    grid-template-columns: 25% 75%;
}
.grid-70x30{
    display: grid;
    grid-template-columns: 70% 30%;
}
.heightComplet{
    height: 100%;
}
.wFitContent{
    width: fit-content;
}
.w100{
    width: 100%;
}
.w95{
    width: 95%;
}
.w90{
    width: 90%;
}
.w85{
    width: 85%;
}
.w80{
    width: 80%;
}
.w70{
    width: 70%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w40{
    width: 40%;
}
.w30{
    width: 30%;
}
.w20{
    width: 20%;
}
.paddingInternalDefault{
    padding: 3rem 2.5rem 3rem 2.5rem;
}
.marginSideSmallIn{
    margin: 0 0.5rem;
}
.marginSideSmall{
    margin: 0 1rem;
}
.marginSideDefault{
    margin: 0 2rem;
}
.marginDownSmallIn{
    margin-bottom: 1.5vh;
}
.marginDownSmall{
    margin-bottom: 3vh;
}
.marginDownDefault{
    margin-bottom: 5vh;
}
.marginDownBigger{
    margin-bottom: 15vh;
}
.marginTopDefault{
    margin-top: 5vh;
}
.marginTopMiddle{
    margin-top: 10vh;
}
.marginTopBigger{
    margin-top: 15vh;
}
ul li:last-child{
    margin-bottom: 0;
}
.positionRelative{
    position: relative;
}
.hideDesktop{
    display: none;
}
.hide{
    display: none;
}
.contentSlider{
    max-width: 100%;
    overflow-x: hidden;
}
.slider{
    flex-wrap: nowrap;
	max-width: 100%;
	transition: all 0.5s linear;
}
.slider .cardRoom{
    transition: all 0.2s linear 0s;
}
.borderBottomCard{
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--borderColor);
}
.status{
    background-color: var(--myYellow);
    width: 12px;
    height: 12px;
    border:1px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    left:5%;
}
.status.on{
    background-color: var(--myGreen);
}
.statusOff{
    background-color: var(--myRad);
}
.statusTwo{
    background-color: var(--myRad);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    right:2%;
    color: white;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.userImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.limitLineClampOne{
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.contentUsers {
	display: none;
}

.contentActive {
	display: block;
}
/*CARD*/
.card{
    background-color: var(--bgCard);
    border:1px solid var(--borderColorThree);
    position: relative;
    border-radius: var(--borderRadiusNormal);
    padding:1rem 1.25rem 1.25rem;
}
.cardStorysContent{
    position: relative;
    border-radius: var(--borderRadiusNormal);
    padding:1rem 1.25rem 1.25rem;
}
.card nav.midiasUploads ul li{
    background: transparent none repeat scroll 0 0;
    border-radius: var(--borderRadiusBigger);
    display: inline-block;
    padding: 0.45rem 1.15rem;
    transition: all 0.2s linear 0s;
}
.card nav.midiasUploads ul li:hover{
    background: var(--bgIcon);
}
.card nav.midiasUploads ul li a{
    display: flex;
}
.card nav.midiasUploads a i{
    font-size: 1rem;
}
.card nav.midiasUploads a span{
    font-size: 0.76rem;
    font-weight: var(--fontSizeNormal);
    margin-left: 0.3rem;
}
/*HEADER AND FOOTER*/
header{
    background-color: var(--bgCard);
    border-bottom: 1px solid var(--borderColorSecond);
}
header .row:nth-of-type(1){
    height: 12vh;
    border-bottom: 1px solid var(--borderColorSecond);
    padding: 0 1.2rem;
}
.formCurstoContent button{
    position: absolute;
    left: 3%;
    line-height: 0;
}
.formCurstoContent i{
    color: var(--titleColor);
}
.formCurstoContent input{
    padding-left: 2.2rem;
}
header .logoySearch h1 a{
    font-size: 1.2rem;
}
header .logoySearch h1 a span, footer .copy h4 span{
    color: var(--myBlue);
}
header .row:nth-of-type(2){
    background-color: var(--bgThree);
    padding: 0 1.2rem;
    height: 8vh;
}
header .row:nth-of-type(2) nav ul li a i{
    font-size: 1.5rem;
}
header .row:nth-of-type(2) nav ul li a {
    display: flex;
    align-items: center;
}
header .row:nth-of-type(2) nav ul:nth-of-type(2){
    justify-content: space-evenly;
}
footer{
    background-color: var(--bgThree);
    border-top: 1px solid var(--borderColor);
    padding: 1rem;
}
footer .copy h4{
    font-weight: var(--fontWeightLittle);
}
aside.aside{
    position: absolute;
    height: 100%;
    width: 20%;
    background-color: var(--bgThree);
    z-index: 99999;
}
aside.aside .row{
    padding: 1rem;
}
aside.aside .row ul li{
    border-radius: var(--borderRadiusNormal);
    padding: 0.6rem 1rem;
    margin-bottom: 0.5rem;
}
aside.aside .row ul li:hover,aside .row ul li.active{
    background-color: rgba(255, 255, 255, 0.04);
}
aside.aside .row ul li a{
    display: flex;
    align-items: center;
}
aside.aside .row ul li a i{
    margin-right: 0.7rem;
}
aside.infosDicesUser{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999;
    height: 79%;
    width: 20%;
    border-radius: 6px 6px 0 0;
}
nav.navigation ul li{
    margin-right: 3%;
    border-radius: 5px 5px 0 0;
    background-color: #161b28;
    padding: 0.2rem 0.6rem;
}
nav.navigation ul li a{
    font-size: 0.8rem;
}
aside.infosDicesUser .cardHeaderUser .textHeader i{
    color: var(--textColor);
    font-size: 1.2rem;
    margin-right: 3%;
}
aside.infosDicesUser .cardHeaderUser .textHeader h4{
    font-size: 1.2rem;
}
aside.infosDicesUser ul.users{
    max-height: 100%;
    overflow-y: auto;
}
aside.infosDicesUser ul.users li{
    margin-bottom: 1.75vh;
}
aside.infosDicesUser ul.users li figure{
    margin-right: 0.3rem;
}
aside.infosDicesUser ul.users li figure img{
    border:2px solid var(--myBlue);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
aside.infosDicesUser ul.users li .infoUser h4{
    font-size: 0.78rem;
}
aside.infosDicesUser ul.users li .infoUser p{
    font-size: 0.7rem;
    line-height: 1.2;
}
a.close {
    background-color: var(--bgIcon);
    border-radius: 50%;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
/**/
main.contentMain{
    margin: 3rem auto;
}
div.colOne .cardTime{
    background-size: cover;
    position: relative;
    padding: 4rem 1rem;
}
img.timeImg{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 3%;
    right: 3%;
}
div.colOne .cardTime .contentTimeInfo h2{
    color: var(--myBlue);
    font-size: 2.6rem;
    margin-bottom: 2rem;
    z-index: 2;
}
div.colOne .cardTime .contentTimeInfo h4{
    color: #3e3f5e;
    font-size: 1.65rem;
    line-height: 1.4;
    text-shadow: 0 0 3px rgb(255 255 255 / 90%);
    z-index: 2;
}
section.card .cardHeader i{
    color: var(--titleColor);
    margin-right: 0.34rem;
}
div.colOne section.card .cardBody figure.imgBigger img{
    height: 23vh;
    border-radius: var(--borderRadiusNormal);
}
section.card .cardBody figure.imgWide img{
    height: 7vh;
    margin-right: 1rem;
    border-radius: var(--borderRadiusNormal);
}
div.colOne section.card .cardBody figure span.tag{
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 0 20px 20px 0;
    color: var(--titleColor);
    font-size: 12px;
    left: 0;
    padding: 0.1rem 0.6rem;
    position: absolute;
    top: 0.6rem;
}
div.colOne section.card .cardBlog ul li .info h3{
    font-size: 0.8rem;
    line-height: 1.3;
}
div.colOne section.card .cardBlog ul li .info p{
    font-size: 0.65rem;
}
div.storys .cardUserStory{
    background-color: black;
    min-width: 18.5%;
    max-width: 18.5%;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 1.5%;
    background-size: cover;
    background-position:center;
}
div.storys .userStory{
    height: 30vh;
    position: relative;
}
div.storys .userStory img{
    position: absolute;
    left: 5%;
    top:3%;
    border:1px solid #fff;
}
div.storys .userStory .profileUser{
    flex-wrap:wrap;
}
div.storys .userStory .profileUser span.decorationStory{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    font-size: 0.8rem;
    margin-top: -0.3rem;
    border-radius: 0 0 8px 8px;
}
section.card .listRooms ul li{
    min-width: 22.5%;
    max-width: 22.5%;
    margin-right: 2.5%;
}
section.card .listRooms div.cardRoom{
    background-color: var(--bg);
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 6px;
    padding: 0.8rem;
}
figure.userImgTwo img{
    width: 50px;
    height: 50px;
    border:1px solid #fff;
}
section.card figure.userImgThree img{
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
}
section.card .listRooms .cardRoom .infoUserRoom h4{
    font-weight: var(--fontWeightLittle);
    margin:0.5rem 0 1rem 0;
}
section.card .listRooms .cardRoom .infoUserRoom a.evaluation{
    background-color: var(--myBlue);
    padding: 0 0.5rem;
}
section.card .listRooms .cardRoom .infoUserRoom a.btnIcon{
    width: 28px;
    height: 28px;
    border:1px solid var(--myBlue);
    background-color: #fff;
    border-radius: 50%;
}
section.card .listFollows .cardFollow{
    min-width: 31%;
    margin-right: 2%;
}
section.card .cardHeader a.markCardHeader{
    width: 30px;
    height: 30px;
    border:1px solid var(--myYellow);
    border-radius: 50%;
    margin-right: 1.2%;
}
section.card .cardHeader a.markCardHeader i{
    margin: 0;
    color: var(--myYellow);
}
section.card .cardHeader p{
    font-size: 0.7rem;
    line-height: 1.2;
}
section.card .listFollows .cardFollow figure img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border:2px solid var(--myBlue);
    background-color: black;
}
section.card .listFollows .cardFollow .infoUserRoom h4{
    margin:0.7rem 0 0.3rem 0;
}
section.card .listFollows .cardFollow .infoUserRoom a{
    color: var(--myBlue);
    font-weight: var(--fontWeightLittle);
    font-size:0.76rem;
}
section.card .listFollows .cardFollow .infoUserRoom a.button{
    padding: 0;
    margin-top: 0.6rem;
}
section.card .cardBody figure.figurePost img{
    height: 60vh;
}
section.card .cardUserContent figure{
    margin-right: 2%;
}
section.card .cardUserContent a.infoUser {
    color: var(--myBlue);
    font-size: 0.9rem;
    font-weight: var(--fontWeightNormal);
}
section.card .cardUserContent a.infoUser span {
    color: var(--textColor);
    font-size: 0.8rem;
    font-weight: var(--fontWeightLittle);
}
section.card .cardUserContent p.date i {
    color: var(--textColor);
    font-size: 0.8rem;
}
section.card .cardFooter .evaluationsNav ul li{
    margin-right: 3%;
}
section.card .cardFooter .evaluationsIcons ul li a span{
    font-size: 0.6rem;
    color: var(--textColor);
    vertical-align: top;
    height: 5vh;
}
section.card .cardFooter .emojisNav ul li{
    margin-right: -0.5rem;
}
section.card .cardFooter .emojisNav ul li a.emotion {
    width: 30px;
    height: 30px;
    border:1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
a.emotion.like{
    background-color: var(--myBlue);
}
a.emotion.love{
    background-color: var(--myRad);
}
a.emotion.sad,a.emotion.happy {
    background-color: var(--myYellow);
}
a.emotion i.ri-thumb-up-fill, a.emotion i.ri-heart-fill, a.emotion i.ri-emotion-fill, a.emotion i.ri-emotion-sad-fill{
    color: white;
}
section.card figure.imgRadondo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
section.card .cardBody .infoGroup p{
    font-size: 0.7rem;
}
section.card .cardBody .infoGroup i{
    color: var(--textColor);
}
section.card .cardBody .infoGroup span{
    color: var(--myRad);
    border:1px solid var(--myRad);
    border-radius: var(--borderRadiusNormal);
    padding: 0 0.4rem;
    margin-left: 0.4rem;
}
section.card .cardBody.cardGroup ul li{
    padding-bottom: 0.5rem;
    border-bottom: 1px dashed var(--borderColorSecond);
}
section.card .cardBody.cardGroup ul li:last-child{
    border-bottom: 0;
}
section.card .cardBody.cardCommunity ul li{
    background-color: var(--bg);
    border-radius: var(--borderRadiusNormal);
}
section.card .cardBody.cardCommunity ul li .topCommunity{
    border-radius: 6px 6px 0 0;
    background-size: cover;
}
section.card .cardBody.cardCommunity ul li figure.userImgTwo{
    height: 15vh;
}
section.card .cardBody.cardCommunity ul li figure.userImgTwo img{
    position: absolute;
    bottom:-20%;
    left:5%;
}
section.card .cardBody.cardCommunity .infoCommunity{
    padding: 0 1rem 1rem 1rem;
}
section.card .cardBody.cardCommunity ul li .textCommunity{
    float: right;
    padding: 1rem 0;
}
section.card .cardBody.cardQuestion ul li .infoQuestion .textQuestion i{
    font-size: 1.5rem;
    margin-right: 4%;
}
section.card .cardBody.cardEvents ul li {
    border-radius: var(--borderRadiusNormal);
    padding: 1rem 1rem;
    max-width: 100%;
    overflow:hidden;
}
section.card .cardBody.cardEvents ul li:nth-of-type(1){
    background-color: var(--myPurple);
}
section.card .cardBody.cardEvents ul li:nth-of-type(2){
    background-color: var(--myBlue);
}
section.card .cardBody.cardEvents ul li i {
    color: var(--titleColor);
    font-size: 3rem;
}
section.card .cardBody.cardEvents ul li img.timeImg {
    right: -3%;
    filter: invert(1);
}

/*LOGIN*/
section.loginContent{
    height: 75vh;
}
section.loginContent .wrap{
    width: 50%;
}
section.loginContent .wrap .card{
    padding: 1.5rem 1rem;
}
section.loginContent form input{
    margin-bottom: 1rem;
}

/*COMUNIDADE*/
main.contentCommunity .card div.listGroups ul {
    flex-wrap: wrap;
}
main.contentCommunity .card div.listGroups ul li{
    min-width: 48%;
    margin:0 2% 2% 0;
}
main.contentCommunity .card div.listGroups ul li figure{
    height: 30vh;
    background-size: cover;
    border-radius: var(--borderRadiusNormal);
}
main.contentCommunity .card div.listGroups ul li .infoGroup{
    background-color: rgba(0, 0, 0, 0.7);
    padding:0.5rem 1rem;
    border-radius: var(--borderRadiusNormal);
}
main.contentCommunity .card div.listGroups ul li figure img{
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    margin: -10% 3% 0 0;
}
main.contentCommunity .card div.listGroups ul li figure a.followGroup{
    width: 3rem;
    height: 1.5rem;
    border-radius: var(--borderRadiusBigger);
    border: 1px solid #fff;
    position: absolute;
    right: 3%;
    bottom: 3%;
}
main.contentCommunity .card div.listGroups ul li figure a.followGroup i{
    color: var(--titleColor);
}
/*SOLICITACOES*/
main.contentSolicitacoes section.card .listRooms ul, main.contentSolicitacoes section.card .listFollows{
    flex-wrap: wrap;
}
main.contentSolicitacoes section.card .listRooms ul li {
    margin: 0 2.5% 2.5% 0;
}
section.card .listFollows .cardFollow {
    margin: 0 2% 4% 0;
}
/*PROFILE*/
main.contentProfile section.cardProfile figure.profileFigure{
    background-size: cover;
    height: 60vh;
    border-radius: var(--borderRadiusNormal);
    padding: 1.5rem;
}
main.contentProfile section.cardProfile figure.profileFigure img{
    border: 3px solid #fff;
    border-radius: 50%;
    width: 135px;
    height: 135px;
}
main.contentProfile section.cardProfile .infoProfile h4{
    font-size: 1.2rem;
}
main.contentProfile section.cardProfile .infoProfile a{
    font-size: 0.75rem;
    color: var(--myBlue);
    font-weight: var(--fontWeightLittle);
}
main.contentProfile section.cardProfile .infoProfile p{
    font-size: 0.8rem;
    color:var(--titleColor);
    margin-right: 3%;
}
main.contentProfile section.cardProfile .infoProfile p span{
    color:var(--textColor);
}
main.contentProfile section.contentPostsProfile section.card .colAbout{
    padding-right: 3rem;
}
ul.networkSocial li a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--myBlue);
}
ul.networkSocial li a i{
    color: #fff;
    font-size: 0.9rem;
}



@media screen and (max-width: 780px){
    .hideMobile{
        display: none;
    }
    .gridOneMobile{
        grid-template-columns: 100%;
    }
    .w95Mobile{
        width: 95%;
    }
    .w25Mobile{
        width: 25%;
    }
    .marginSideNoneMobile{
        margin:unset;
    }
    .marginDownDefaultMobile{
        margin-bottom: 7vh;
    }
    aside.aside, aside.infosDicesUser {
        width: 60%;
    }    
    div.storys .cardUserStory {
        min-width: 23.5%;
        max-width: 23.5%;
    }
    section.card .listRooms ul li {
        min-width: 31.5%;
        max-width: 31.5%;
    }
    section.card .cardBody.cardCommunity ul li figure.userImgTwo {
        height: 20vh;
    }
    main.contentCommunity .card div.listGroups ul li {
        min-width: 100%;
        margin: 0 0 3% 0;
    }
    .orderTwoMobile{
        order: 2;
    }
}