body{
    background-image: url('../uploads/bgLogin.jpg');
    background-size: cover;
}
section.boxLogin{
    width: 100%;
    height: 100vh;
}
section.boxLogin .wrap{
    width: 30%;
}
section.boxLogin .wrap .card{
    height: 80vh;
}
section.boxLogin .wrap .card{
    padding:2rem;
}
section.boxLogin .wrap .card .title{
    margin-bottom: 1.6rem;
}
section.boxLogin .wrap .card form input{
    margin-bottom:1rem;
}
input[type=checkbox]{
	margin: 0 !important;
    vertical-align: middle;
}
form input[type="submit"]{
    width: 100%;
    margin: 1rem 0;
}
form .cardNetworks a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: calc(33% - 10px);
    border-radius: 6px;
    color: #fff;
    margin: 1rem 0.6rem;
}
form .cardNetworks a i{
    color: #fff;
    font-size: 20px;
}
form .cardNetworks a.facebook{
    background-color:#3b5999
}
form .cardNetworks a.twitter{
    background-color:#1da1f2
}
form .cardNetworks a.google{
    background-color:#df4a32
}


@media screen and (max-width: 780px){
    section.boxLogin .wrap {
        width: 90%;
    }
}